<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cienet.stock.mapper.StockTradeMapper">

    <select id="getStockTradeList"
            resultType="com.cienet.stock.model.TradeModel">
        SELECT *
        FROM STOCK_TRADE_INFO
        <where>
            1=1
            <if test="tradeId!=null and tradeId!=''">
                AND TRADEID &lt;= #{tradeId}
            </if>
        </where>
    </select>

    <select id="getLatestTrade"
            resultType="com.cienet.stock.model.TradeModel">
        SELECT *
        FROM STOCK_TRADE_INFO
        <where>
            1=1
            <if test="tradeId!=null and tradeId!=''">
                AND TRADEID = #{tradeId}
            </if>
        </where>
        ORDER BY TRANSACTIONID DESC
        LIMIT 0,1
    </select>

    <insert id="tradeInfoAction">
        INSERT INTO STOCK_TRADE_INFO (TRADEID, VERSION, SECURITYCODE, QUANTITY,
                                      DBOPERATION, USEROPERATION)
        VALUES (#{tradeId}, #{version} + 1
                   , #{securityCode}, #{quantity},
                #{dbOperation}, #{userOperation})
    </insert>

</mapper>